.form-responsive {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.border-form {
  border-radius: 10px;
  padding: 15px;
  background-color: #f3f3f5e8;
  box-shadow: 0px 5px 10px rgb(3 182 253 / 50%);
}

.titulo-form {
  border-bottom: 1px #282c34 solid;
}

.bck-gray {
  background-color: #282c34;
}
